.custom-button {
  padding: 0.6em 2em;
  border-radius: 14px;
  color: white;
  background-color: #1469b8;
  font-size: 1.1em;
  border: 0;
  cursor: pointer;
  margin-right: 1em;
  border: 1px solid #1469b8;
  transition: 0.4s;
}

.custom-button:hover {
  padding: 0.6em 2em;
  border-radius: 14px;
  color: #1469b8;
  background-color: white;
  font-size: 1.1em;
  border: 0;
  cursor: pointer;
  margin-right: 1em;
  border: 1px solid #1469b8;
}
