.project-section {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10% 0 10% 0; */
  background-color: #51e5c4;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
