.side-drawer-button {
  z-index: 300;
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: fixed;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #05f;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 577px) {
  .side-drawer-button {
    display: none;
  }
}
