.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90vh;
}

.hero-h1 {
  font-size: 3.4em;
  font-weight: 200;
  margin: 2vh 0 2vh 0;
}

.hero-h2 {
  font-size: 2.1em;
  font-weight: 200;
  margin: 2vh 0 2vh 0;
}

.hero-h3 {
  font-size: 2.1em;
  font-weight: 200;
  margin: 2vh 0 2vh 0;
}

.left-content-hero {
  margin-top: 5vh;
  margin-left: 10vh;
  display: flex;
  flex-direction: column;
}

.background-image {
  background-size: contain;
  max-height: 70%;
  width: auto;
  background-repeat: no-repeat;
  margin-top: 15vh;
  margin-left: 10vh;
}

.highlight {
  color: #0066ff;
}

.fa-icon {
  margin-left: 5px;
  margin-right: 5px;
}

.link-and-button-container {
  margin-top: 2em;
}
