.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.left-content-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

h1,
h2 {
  /* text-transform: uppercase; */
  font-family: Montserrat;
}

.hero-h1 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.hero-h2 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.background-image {
  align-self: center;
  height: auto;
  width: 70%;
  min-width: 500px;
  margin: 0 auto;
  padding-top: 4em;
}

.link-and-button-container {
  display: flex;
  align-items: space-betweem;
  justify-content: center;
  margin-bottom: 2em;
}

/* .highlight {
  color: #0066ff;
} */

.fa-icon {
  margin-left: 5px;
  margin-right: 5px;
}

@media only screen and (max-width: 576px) {
  .hero {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .left-content-hero {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .hero-header {
    margin: 2em 0;
    /* font-size: 200; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  h1,
  h2 {
    font-family: Montserrat;
  }

  .hero-h1 {
    font-size: 1.4rem;
    font-weight: 100;
    margin: 0 auto;
    padding: 0 auto;
  }

  .hero-h2 {
    font-size: 1.4rem;
    font-weight: 100;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .background-image {
    padding-top: 3em;
    height: auto;
    width: 80%;
    min-width: 300px;
    margin: 0 auto;
  }

  #hero-projects-button {
    margin-bottom: 5px;
  }

  .link-and-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 50%;
  }
  .highlight {
    color: white;
  }

  .fa-icon {
    margin-left: 5px;
    margin-right: 5px;
  }
}
