.about {
  background-color: #f2f2f2;
  padding: 6vh;
  padding-bottom: 10vh;
  color: #3f3d56;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  font-size: 1.5rem;
}

.about h2 {
  font-family: Lato;
  color: #1469b8;
}

.logo-group {
  padding: 5vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-evenly;
  color: #1469b8;
  width: 100%;
}

.about .fa-icon {
  font-size: 5rem;
}
