$color-primary-light: #434769;
$color-primary-dark: rgb(61, 58, 58);

.about {
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  padding: 6vh;
  padding-bottom: 10vh;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  font-size: 1.5rem;
}

.about h2 {
  padding: 3vh 0 10vh 0;
  font-size: 1.4em;
  font-weight: 200;
  color: #089fe6;
}

.about p {
  font-size: 1.3rem;
}

.logo-group {
  padding: 10em 0 5em 0;
  margin-bottom: 7vh;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  color: #089fe6;
  width: 100%;
}

.about .fa-icon {
  font-size: 6.5rem;
  padding: 2vh;
}

.paragraph-container {
  line-height: 1.6;
}

.about .option-icon {
  margin-right: 0.3vw;
}

@media only screen and (max-width: 576px) {
  .about {
    height: 140vh;
  }

  .about p {
    font-size: 0.9rem;
  }

  .about h2 {
    font-size: 1.3em;
  }

  .about .fa-icon {
    font-size: 5rem;
    padding: 2vh;
  }
}
