.about {
  background-color: #f5f5f5;
  padding: 6vh;
  padding-bottom: 10vh;
  color: #3f3d56;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  font-size: 1.5rem;
}

.about h2 {
  font-size: 1.75em;
  font-weight: 200;
  color: #0066ff;
}

.logo-group {
  padding: 5vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  color: #0066ff;
  width: 100%;
}

.about .fa-icon {
  font-size: 7rem;
  padding: 2vh;
}

.paragraph-container {
  line-height: 1.6;
}

.option-icon {
  margin-right: 0.5vw;
}
