/* body {
  background-color: #100e17;
  font-family: 'Open Sans', sans-serif;
} */

.container {
  position: absolute;
  height: 300px;
  width: 800px;
  left: calc(50% - 300px);
  display: flex;
}

.card {
  display: flex;
  height: 420px;
  width: 500px;
  background-color: #3f3d55;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem rgba(0, 0, 0, 0.7);
  margin-left: -50px;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.card ul {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background: rgba(255, 255, 255, 0);
}

.card ul li {
  background: rgb(184, 233, 2);
  border-radius: 0 15px 15px 0;
  height: 40px;
  width: 100px;
  text-align: center;
  line-height: 40px;
  transform: perspective(200px) rotateY(90deg);
  transition: 0.3s;
  transform-origin: left;
}

.card:hover ul li {
  transform: perspective(200px) rotateY(0deg);
}

.card:hover ul li:nth-child(1) {
  transition-delay: 0.1s;
}

.card:hover ul li:nth-child(2) {
  transition-delay: 0.2s;
}

.card:hover ul li:nth-child(3) {
  transition-delay: 0.3s;
}

.card:hover ul li:nth-child(4) {
  transition-delay: 1s;
}

.card ul li a {
  color: tomato;
  background: rgba(255, 255, 255, 0);
}

.card ul li i {
  color: tomato;
  background: rgba(255, 255, 255, 0);
}

.card ul li i:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0);
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}
