.side-drawer {
  height: 100vh;
  background-image: linear-gradient(
    to right,
    #1b67d8e3,
    rgba(9, 206, 241, 0.87)
  );
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  /* max-width: 70%; */
  width: 100%;
  z-index: 201;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer .navbar-logo {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
}

.side-drawer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.side-drawer-links {
  margin-top: 10em;
}

.side-drawer-icon-container > ul {
  display: flex;
  flex-direction: row;
}

.side-drawer-icon-container li {
  padding: 0 0.75em;
}

.side-drawer li {
  margin: 0.5rem 0;
}

.side-drawer a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: rgba(0, 214, 170, 0.85);
  text-decoration: none;
  font-size: 2rem;
}

@media (min-width: 577 px) {
  .side-drawer {
    display: none;
  }
}
