.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90vh;
}

.hero-h1 {
  font-size: 3.4em;
  font-weight: 200;
  margin: 2vh 0 2vh 0;
}

.hero-h2 {
  font-size: 2.1em;
  font-weight: 200;
  margin: 2vh 0 2vh 0;
}

.hero-h3 {
  font-size: 2.1em;
  font-weight: 200;
  margin: 2vh 0 2vh 0;
}

.left-content-hero {
  /* margin-top: 10vh; */
  margin-left: 6vh;
  height: 30%;
  display: flex;
  flex-direction: column;
}

.background-image {
  background-size: contain;
  max-height: 70%;
  width: auto;
  background-repeat: no-repeat;
  margin-top: 15vh;
}

/* button.homepage-projects-button {
  padding: 0.6em 2em;
  border-radius: 16px;
  color: #fff;
  background-color: #000000;
  font-size: 1.1em;
  border: 0;
  cursor: pointer;
  margin: 1em;
} */

.highlight {
  color: #0066ff;
}

.fa-icon {
  margin-left: 5px;
  margin-right: 5px;
}

.link-and-button-container {
  margin-top: 2em;
}
