.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90vh;
}

.hero-h1 {
  font-size: 3.4em;
  font-weight: 200;
}

.hero-h2 {
  font-size: 2.2em;
  font-weight: 200;
}

.hero-h3 {
  font-size: 1.8em;
  font-weight: 200;
}

.left-content-hero {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.background-image {
  background-size: contain;
  max-height: 70%;
  width: auto;
  background-repeat: no-repeat;
  margin-top: 10vh;
}

button.homepage-projects-button {
  padding: 0.6em 2em;
  border-radius: 16px;
  color: #fff;
  background-color: #000000;
  font-size: 1.1em;
  border: 0;
  cursor: pointer;
  margin: 1em;
}

.highlight {
  color: #ff6584;
}

.fa-icon {
  margin-left: 5px;
  margin-right: 5px;
}
