.contact {
  display: flex;
  flex-direction: column;
  color: #0ee2df;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.form-box {
  background-image: linear-gradient(
    to right,
    #1b67d8a4,
    rgba(9, 206, 241, 0.637)
  );
  width: 40%;
  height: 60%;
}

.contact h2 {
  color: white;
  background-image: linear-gradient(to right, #1b66d8, rgb(9, 207, 241));
  padding: 0.5em;
  margin-bottom: 1em;
  /* display: flex; */
  /* justify-content: flex-start; */
  align-self: center;
  /* font-size: 2.1em; */
  font-weight: 100;
}

.form-inline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-image {
  background-color: #355ee2;
  background-blend-mode: lighten;
}

.custom-button {
  z-index: 200;
}
@media only screen and (max-width: 576px) {
  .form-box {
    width: 80vw;
    height: 70vh;
  }
}
