.header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  //   margin-bottom: 25px;

  //   .logo-container {
  //     height: 100%;
  //     width: 175px;
  //     padding: 25px;
  //     font-size: 1.5em;
  //   }

  .options {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.3em;
    padding-right: 30px;

    .option {
      padding: 10px 15px;
      color: black;
      transition: 0.5s;
    }

    .option:hover {
      color: #51e5c4;
      // border: 1px solid #ff4653;
      border-radius: 14px;
      text-decoration: underline;
      text-decoration-color: black;
    }

    .nav-icon {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
