/* :root {
  --background: transparent;
} */

.header.nav-scrolled {
  --text: white;
  --text-inverse: #f4f4f4;
  --background: rgba(0, 214, 170, 0.85);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.header {
  --text: #0066ff;
  --text-inverse: #333;
  --background: rgba(0, 214, 170, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em;
  transition: background 250ms ease-in;
  background: var(--background);
  color: var(--text);
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: blueviolet;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: var(--text);
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
  transition: transform ease-in-out 350ms;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .header.nav-scrolled {
    --text: white;
    --text-inverse: #f4f4f4;
    --background: rgba(0, 214, 170, 0.85);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  }

  .nav-toggle-label {
    display: none;
  }

  .header {
    --background: transparent;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    height: 100px;
    z-index: 999;
    background: var(--background);
  }

  .logo {
    grid-column: 1 / 2;
  }

  nav {
    all: unset;
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a > .active {
    background: red;
  }

  nav a::before {
    content: '';
    display: block;
    height: 2.5px;
    background: black;
    position: absolute;
    top: 1.3em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: center;
    transition: transform ease-in-out 350ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}
