.footer {
  /* position: absolute; */
  background-image: linear-gradient(to right, #434769, rgb(61, 58, 58));
  color: #089fe6;
  font-size: 1em;
  width: 100%;
  height: 2em;
  padding: 0.6em 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
