.contact {
  display: flex;
  flex-direction: column;
  color: #0ee2df;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.contact h2 {
  color: white;
  background-image: linear-gradient(to right, #1b66d8, rgb(9, 207, 241));
  padding: 0.5em;
  margin-bottom: 1em;
  align-self: center;
}

.contact-image {
  background-color: #355ee2;
  background-blend-mode: lighten;
}

.custom-button {
  z-index: 200;
}
