body {
  font-family: 'Raleway', sans-serif;
  background-color: white;
  color: #3f3d54;
}

a {
  color: #1469b8;
  text-decoration: none;
  size: 16px;
  cursor: pointer;
}

a:hover {
  color: #164a7b;
}
