$color-primary-light: rgb(9, 207, 241);
$color-primary-dark: #1b66d8;
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}
.custom-button {
  z-index: 100;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto 0 auto 0;
}

.hero-header {
  margin: 4em 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-h1 {
  font-size: 2.4rem;
  padding: 0;
}

.hero-h2 {
  font-size: 2.2rem;
}

.background-image {
  align-self: center;
  height: auto;
  width: 70%;
  min-width: 500px;
  margin: 0 auto;
  padding-top: 4em;
}

.link-and-button-container {
  display: flex;
  align-items: space-betweem;
  justify-content: center;
}

.fa-icon {
  margin-left: 5px;
  margin-right: 5px;
}

@media only screen and (max-width: 576px) {
  .hero {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
  }

  .hero-container {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .hero-header {
    margin: 2em 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  h1,
  h2 {
    font-family: Montserrat;
  }

  .hero-h1 {
    font-size: 1.4rem;
    font-weight: 100;
    margin: 0 auto;
    padding: 0 auto;
  }

  .hero-h2 {
    font-size: 1.4rem;
    font-weight: 100;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .background-image {
    padding-top: 3em;
    height: auto;
    min-width: 300px;
    margin: 0 auto;
  }

  #hero-projects-button {
    margin-bottom: 5px;
  }

  .link-and-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 50%;
  }
  .highlight {
    color: white;
  }

  .fa-icon {
    margin-left: 5px;
    margin-right: 5px;
  }
}
